/* Add your CSS styles here! */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
  margin:auto;
  width: 1000px;
}

svg {
  background-color: #eee;
}

text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span.equation {
  font-family: 'Inconsolata','Lucida Console', 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

#a, #b, #mse {
  background-color: #eee;
  width: 100px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
}

#mse { width: 150px; }

div#controls {
  margin-bottom:20px;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #1a5ca7;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-family: monospace
}

button:disabled {
  background-color: #627fa0;
  cursor: auto;
}

#clear {
  background-color: rgb(223, 71, 71)
}

.button:focus {
  outline: none;
}

div.tooltip {
  position: absolute;
  background: white;
  border: 1px solid grey;
  padding: 5px;
  pointer-events: none;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: black;
}

